{
  "env": {
    "cjs": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "browsers": ["last 2 versions"]
            }
          }
        ]
      ],
      "plugins": ["@babel/plugin-transform-destructuring", "@babel/plugin-transform-spread"]
    },
    "esm": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": false,
            "targets": {
              "browsers": ["last 2 versions"]
            }
          }
        ]
      ],
      "plugins": ["@babel/plugin-transform-destructuring", "@babel/plugin-transform-spread"]
    }
  }
}
